[submodule "lib/quilt"]
	path = lib/quilt
	url = git@github.com:zanematthew/quilt.git
[submodule "lib/lumber"]
	path = lib/lumber
	url = git@github.com:zanematthew/lumber.git
[submodule "lib/zm-dependency-container"]
	path = lib/zm-dependency-container
	url = git@github.com:zanematthew/zm-dependency-container.git
