body {
    height: 100%;
}

/*= Default Forms
-------------------------------------------------------------- */
.ajax-login-default-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    }

.ajax-login-register-container .meta {
    color: #A6A6A6;
    font-size: 11px;
    font-weight: 300;
    font-family: helvetica;
    line-height: 1.2em;
    }

.ajax-login-default-form-container input[type="password"]:hover,
.ajax-login-default-form-container input[type="text"]:hover {
    border-color: #aaa;
    }

.ajax-login-default-form-container input[type="password"]:focus,
.ajax-login-default-form-container input[type="text"]:focus {
    border-color: #999;
    outline: none;
    }

.ajax-login-default-form-container input[type="password"],
.ajax-login-default-form-container input[type="text"] {
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
    -o-transition-property: border-color;
    -ms-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    width: 95%;
    margin: 0 0 15px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 5px;
    margin: 0;
    }

.ajax-login-default-form-container input[type="submit"]:hover {
    color: #008000;
    }

.ajax-login-default-form-container input[type="submit"]:active {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #CFCFCF;
    }

.ajax-login-default-form-container input[type="submit"]:disabled:hover {
    cursor: default;
    }

.ajax-login-default-form-container input[type="submit"]:disabled {
    cursor: pointer;
    opacity: 0.5;
    }

.ajax-login-default-form-container input[type="submit"] {
    -webkit-transition-property: background-image;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    font-weight: bold;
    background: #E0E0E0;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    float: left;
    font-size: 12px;
    padding: 7px 20px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFF;
    cursor: pointer;
    color: #008000;
    border: 1px solid #CFCFCF;
    }

.ajax-login-default-form-container .button-container {
    float: left;
    padding: 0;
    width: 100%;
    }

.ajax-login-default-form-container .noon {
    margin: 0 0 15px 0;
    }

.ajax-login-default-form-container input[type="button"].text {
    background: none;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    color: #F00;
    float: right;
    text-shadow: 0 1px 0 #FFF;
    font-weight: bold;
    font-size: 12px;
    padding: 7px 15px;
    }

.ajax-login-default-form-container .error-container {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;

    padding: 8px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin: 0 0 10px;
    float: left;
    width: 295px;
    }

.ajax-login-default-form-container .success-container {
    color: #468847;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #DFF0D8;
    border: 1px solid #BBD1BB;
    padding: 8px 35px 8px 14px;
    }

.login_form .button-container {
    margin-top: 15px;
    }

.ajax-login-default-form-container a.fb-login:before {
    background-image: url('images/fb-icon.png');
    content: ".";
    color: #425EAC;
    height: 32px;
    width: 32px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 5px;
    text-shadow: none;
    text-align: center;
    }

.ajax-login-default-form-container a.fb-login {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    text-decoration: none;
    background: #4c69ba;
    background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
    background: -webkit-linear-gradient(#4c69ba, #3b55a0);
    border-color: #4c69ba;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 -1px 0 #354c8c;
    color: #fff;
    font-size: 13px;
    padding: 5px 8px 5px 5px;
    border-radius: 4px;
    margin: 0;
    clear: both;
    display: inline-block;
    line-height: 2.4em;
    }

.ajax-login-default-form-container a.fb-login:hover {
    background: -webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));
    background: -webkit-linear-gradient(#5b7bd5, #4864b1);
    cursor: pointer;
    }



/*= Shortcode
-------------------------------------------------------------- */
.hentry .ajax-login-default-form-container input[type="text"],
.hentry .ajax-login-default-form-container input[type="password"] {
    width: 300px;
    }

.hentry .fb-login-container {
    margin: 0 0 20px;
    }

.hentry .wide .button-container input[type="submit"] {
    float: left;
    }

.hentry .ajax-login-register-register-container .wide .fb-login-container {
    margin: 43px 0 0;
    }


/*= Default Form Styling
-------------------------------------------------------------- */
.form-wrapper {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    }


/*= Default Wide Styling
-------------------------------------------------------------- */
.wide .fb-login-container {
    width: 35%;
    float: left;
    margin: 22px 0 0;
    }

.wide .form-wrapper input[type="text"],
.wide .form-wrapper input[type="password"] {
    width: 95%;
    }

.wide .button-container input[type="submit"]{
    float: right;
    }

.ui-dialog .form-wrapper {
    margin: 0;
    }


/*= Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 782px) {
    .hentry .ajax-login-default-form-container input[type="text"],
    .hentry .ajax-login-default-form-container input[type="password"] {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .hentry .ajax-login-default-form-container input[type="text"],
    .hentry .ajax-login-default-form-container input[type="password"] {}
}


/* Login New */
.alr_login_container {}

/* deprecated */
.noon {}

/* all checkboxes */
.alr_checkbox_container {}

/* all checkboxes ONLY on the login form */
.alr_login_checkbox_container {}

/* all fields */
.alr_login_field_container {}

.alr_ul_container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

.alr_ul_container li {
    display: inline;
    margin: 0 10px 0 0;
    }

.alr_ul_container li:last-child {
    margin: 0;
    }

.alr_ul_container li a {}


/* Default form */
.alr_form_container .alr_checkbox_field {
    float: left;
    margin: 5px 10px 0 0;
    }

.alr_form_field {
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
    -o-transition-property: border-color;
    -ms-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    transition-timing-function: linear;
    width: 95%;
    margin: 0 0 15px 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 5px;
    margin: 0;
    }